<div *ngIf="company" class="company-details">
  <a class="button-back" (click)="goBack()">Geri</a>
  <h2>Şirket Detayı: {{ company.name }}</h2>
  <div class="company-info">
    <div class="info-item">
      <strong>Adres:</strong> {{ company.address }}
    </div>
    <div class="info-item">
      <strong>Telefon No:</strong> {{ company.phoneNumber }}
    </div>
    <div class="info-item">
      <strong>Vergi No:</strong> {{ company.taxNumber }}
    </div>
    <div class="info-item">
      <strong>Şirket  Kodu:</strong> {{ company.companyCode }}
    </div>
    <div class="info-item">
      <strong>Açıklama:</strong> {{ company.description }}
    </div>
    <div class="info-item">
      <strong>KDV Türü:</strong> {{ company.getKdvTypeString() }}
    </div>
    <div class="info-item">
      <strong>Fiş/Fatura No:</strong> {{ company.billNumber }}
    </div>
    <div class="info-item">
      <strong>Cari Türü:</strong> {{ company.getCurrentAccountTypeString() }}
    </div>
  </div>
</div>
