<div *ngIf="company" class="company-details">
  <button class="btnSantiye" (click)="showSiteForm()">Şantiye Ekle</button>
  <a class="button-back" (click)="goBack()">Geri</a>
  
  <h2>Şirket Detayı: {{ company.name }}</h2>

  <div class="company-info">
    <div class="info-item"><strong>Adres:</strong> {{ company.address }}</div>
    <div class="info-item"><strong>Telefon No:</strong> {{ company.phoneNumber }}</div>
    <div class="info-item"><strong>Vergi No:</strong> {{ company.taxNumber }}</div>
    <div class="info-item"><strong>Şirket Kodu:</strong> {{ company.companyCode }}</div>
    <div class="info-item"><strong>Açıklama:</strong> {{ company.description }}</div>
    <div class="info-item"><strong>KDV Türü:</strong> {{ company.getKdvTypeString() }}</div>
    <div class="info-item"><strong>Fiş/Fatura No:</strong> {{ company.billNumber }}</div>
    <div class="info-item"><strong>Toplam Cari Tutarı:</strong> {{ totalOfAllSites }}</div>
  </div>
<br>
<br>
  <!-- Şantiye Ekleme Formu -->
  <div *ngIf="isSiteFormVisible" class="site-form-wrapper">
    <h3>Yeni Şantiye Ekle</h3>
    <form [formGroup]="siteForm" (ngSubmit)="addSite()" class="site-form">
      <div class="form-group">
        <label for="siteName">Şantiye Adı</label>
        <input formControlName="siteName" id="siteName" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="siteCode">Şantiye Kodu</label>
        <input formControlName="siteCode" id="siteCode" class="form-control" required>
      </div>
      <div class="form-buttons">
        <button type="submit" class="btn btn-success" [disabled]="siteForm.invalid">Ekle</button>
        <button type="button" class="btn btn-secondary ml-2" (click)="hideSiteForm()">Geri</button>
      </div>
    </form>
  </div>

  <!-- Şantiye Listesi -->
  <div *ngFor="let site of siteInfoList" class="company-item">
    <div class="site-info">
        <label class="company-label">
            {{ site.siteName }} - Toplam Cari: {{ (site.totalAmount !== null && site.totalAmount !== undefined) ? site.totalAmount : '0' }}
        </label>
        <div class="company-actions">
            <button (click)="goToSiteDetails(site.siteName)" class="btn btn-info btn-sm">Detayları Gör</button>
        </div>
    </div>
</div>

  
</div>
