<div *ngIf="company">
    <h2>Company Details: {{ company.name }}</h2>
    <p><strong>Address:</strong> {{ company.address }}</p>
    <p><strong>Phone Number:</strong> {{ company.phoneNumber }}</p>
    <p><strong>Tax Number:</strong> {{ company.taxNumber }}</p>
    <p><strong>Company Code:</strong> {{ company.companyCode }}</p>
    <p><strong>Description:</strong> {{ company.description }}</p>
    <p><strong>KDV Type:</strong> {{ company.kdvTypes }}</p>
    <p><strong>Bill Number:</strong> {{ company.billNumber }}</p>
    <p><strong>Current Account Type:</strong> {{ company.currentAccountType }}</p>
  </div>
  