/* Ana sayfa stil düzenlemeleri */
body, html {
  height: 100%; /* Tam yükseklik için */
  margin: 0; /* Varsayılan margin'i kaldır */
}

/* Login Container */
.login-container {
  display: flex;
  align-items: center; /* Yatay ortalama */
  justify-content: center; /* Dikey ortalama */
  height: 100vh; /* Tam ekran yüksekliği */
  text-align: center;
}

/* Butonlar */
.login-container button {
  margin: 10px;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Bootstrap mavi rengi */
  color: white;
  transition: background-color 0.3s, transform 0.3s;
  margin-top:-250px
}

.login-container button:hover {
  background-color: #0056b3; /* Hover durumu için daha koyu mavi */
  transform: translateY(-2px); /* Hover efekti */
}

/* Modal arka plan */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Yarı saydam siyah arka plan */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal içerik */
.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 450px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: fadeIn 0.3s ease;
}

/* Modal başlığı */
.modal-content h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px; /* Başlık boyutunu büyüttük */
}

/* Form grubu ve etiketleri */
.form-group {
  margin-bottom: 20px; /* Alanlar arasında daha fazla boşluk */
  text-align: left;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #555; /* Etiket rengi */
}

/* Girdi alanları */
.form-control {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px; /* Font boyutunu artırdık */
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #007bff; /* Odaklanınca mavi renk */
  outline: none; /* Kenar çizgisi kaldır */
}

/* Buton konteyneri */
.buttons-container {
  text-align: center;
}

.buttons-container button {
  width: 48%; /* Düğmeleri yan yana dizmek için %48 */
  margin: 5px;
  padding: 12px;
  font-size: 14px;
}

/* Kapatma butonu */
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 26px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s;
}

.close:hover {
  color: #ff4c4c; /* Kapatma butonuna hover efekti */
}

/* Fade-in animasyonu */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95); /* Daha yavaş bir büyüme */
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
