<div *ngIf="personnels" class="employee-detail-container">
  <!-- <button class="btn-add-employee" (click)="showEmployeeForm()">Add Employee</button> -->
  <a class="button-back" (click)="goBack()">Geri</a>

  <h2>Personel Detayları</h2>

  <div class="employee-info-table">
    <table>
      <thead>
        <tr>
          <th>Ad</th>
          <th>Soyad</th>
          <th>Pozisyon</th>
          <th>Maaş</th>
          <th>SGK Primi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of personnels">
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ getRoleName(employee.role) }}</td>
          <td>{{ employee.totalSalary | currency:' ' }}</td>
          <td>{{ employee.totalSgkPremium  | currency:' ' }}</td>
         
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Add Employee Form -->
  <div *ngIf="isEmployeeFormVisible" class="employee-form-wrapper">
    <h3>Add New Employee</h3>
    <form [formGroup]="employeeForm" (ngSubmit)="addEmployee()" class="employee-form">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input formControlName="firstName" id="firstName" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input formControlName="lastName" id="lastName" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <input formControlName="role" id="role" class="form-control" required />
      </div>
      <div class="form-buttons">
        <button type="submit" class="btn btn-success" [disabled]="employeeForm.invalid">Ekle</button>
        <button type="button" class="btn btn-secondary" (click)="hideEmployeeForm()">İptal</button>
      </div>
    </form>
  </div>
  <br>
  <br>
  <div *ngFor="let site of personnels" class="company-item">
    <div class="site-info">
        <label class="company-label">
            {{ site.firstName }} - Toplam Maaş: {{ (site.totalSalary !== null && site.totalSalary !== undefined) ? site.totalSalary : '0' }}
        </label>
        <div class="company-actions">
            <button (click)="goToSiteDetails(site.id)" class="btn btn-info btn-sm">Detayları Gör</button>
        </div>
    </div>
  </div>
</div>

<!-- Loading Message -->
<div *ngIf="!personnels || personnels.length === 0" class="loading-message">
  <p>Loading employee details...</p>
</div>


