<div class="container">
  <h2>Timesheets</h2>
  
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Hours Worked</mat-label>
      <input matInput formControlName="hoursWorked" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Overtime Hours</mat-label>
      <input matInput formControlName="overtimeHours" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Daily Salary</mat-label>
      <input matInput formControlName="dailySalary" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Hourly Wage</mat-label>
      <input matInput formControlName="hourlyWage" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Daily Social Security Premium</mat-label>
      <input matInput formControlName="dailySocialSecurityPremium" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Hourly Social Security Premium</mat-label>
      <input matInput formControlName="hourlySocialSecurityPremium" type="number">
    </mat-form-field>

    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="save()">Save</button>
  </form>
</div>
