<div class="container">
  <h2>Puantaj Ekle</h2>
  
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Tarih</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Tarih seçiniz">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Saatlik Çalışma</mat-label>
      <input matInput formControlName="hoursWorked" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Mesai</mat-label>
      <input matInput formControlName="overtimeHours" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Günlük Maaş</mat-label>
      <input matInput formControlName="dailySalary" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Saatlik Maaş</mat-label>
      <input matInput formControlName="hourlyWage" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Günlük SGK Primi</mat-label>
      <input matInput formControlName="dailySocialSecurityPremium" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Saatlik SGK Primi</mat-label>
      <input matInput formControlName="hourlySocialSecurityPremium" type="number">
    </mat-form-field>

    <button mat-button (click)="onNoClick()">İptal</button>
    <button mat-button (click)="save()">Kaydet</button>
  </form>
</div>
