<div class="container">
    <h2>Personel Listesi</h2>
    <button (click)="openAddDialog()" class="btn btn-primary">Personel Ekle</button>
    <table class="table table-bordered">
        <thead>
                <tr>
                    <th>Id</th>
                    <th>İsim</th>
                    <th>Soyisim</th>
                    <th>Şantiye No</th>
                    <th>Saatlik Ücret</th>
                    <th>Maaş</th>
                    <th>SGK Primi</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{employee.id}}</td>
                    <td>{{employee.firstName | uppercase}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.siteNumber}}</td>
                    <td>{{employee.hourlyRate}}</td>
                    <td>{{employee.salary}}</td>
                    <td>{{employee.socialSecurityPremium}}</td>
                    <td>
                        <button type="button" (click)="openEditDialog(employee.id)" class="btn btn-warning">Düzenle</button>
                        <button class="btn btn-danger" (click)="navigateToDelete(employee.id)">Sil</button>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>